.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar .logo {
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.navbar .nav-links li {
  cursor: pointer;
}
